@{
    ViewBag.Title = "Registration Complete";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is the Registration Complete page. We have finished setting up your account and taken payment.</p>

